<!--<div class='container' style="width: 60%">-->
  <!--<div class='row'>-->
    <!--<div class='col-md-12'>-->
      <!--<div id="animated" class='thumbnail animated'-->
           <!--[ngClass]="{new: status}"-->
      <!--&gt;-->
        <!--<div class='container' style="width: 100%">-->
          <!--<a id="newsItem" routerLink="/news/{{news.id}}" style="color: black; text-decoration-line: none">-->
            <!--<div class='row'>-->
              <!--<div class='col-lg-12'>-->
                <!--<h1 id="newsTitle" class='mt-8'>{{news.title}}</h1 >-->
                <!--<hr/>-->
                <!--<p id="newsContent" class='content'>{{news.description}}</p>-->
                <!--<hr/>-->
                <!--<ul class='list-inline list-unstyled' style='text-align: right'>-->
                <!--<li><a routerLink='/news/{{this.news.id}}' > read me</a></li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="news-container">
  <a routerLink="/news/{{news.id}}">
    <div class="news-item animated" [ngClass]="{new: status}">
      <div class="title">
        <h1>{{news.title}}</h1>
      </div>
      <hr>
      <div class="content">
        {{news.description}}
      </div>
      <hr>
    </div>
  </a>
</div>
