.news-container {
  padding-left: 25%;
  padding-right: 25%;
  max-height: 190px;
  overflow: hidden;
}
.news-container a {
  color: black;
  text-decoration-line: none;
}

.news-item {
  max-height: 190px;
  padding: 2% 2%;
  border: 1px solid #b9b9b95e;
  border-radius: 5px;
}

.news-item:focus {
  border: 0;
}

@media screen and (max-width: 1000px) {
  .news-item {
    padding: 5% 5%;
  }
}
.title {

}

.content {
  max-height: 90px;
  overflow-x:hidden;
}

.animated {
  background: transparent;
  opacity: 1;
  transition: background 3s ;
  /*visibility: hidden;*/
}

.new {
  background: #8fcafe;
}
.viewed {
  background: white;
}

